include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/1about
		include ../common/2usefull
		include ../common/3call
		include ../common/4knowledge
		include ../common/5person
		include ../common/6programm
		include ../common/7call2
		include ../common/8qa
		include ../common/modal
		include ../common/footer
	// END body