// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #4bb77b;
$accent2: #3bb270;

$text: #333;
