section.about
    .wrap
        .title Этот семинар для вас, если
        .about__items
            .about__item 
                .about__icon
                    img(src="img/icons/low.png", alt="icon")
                .about__text Устали все время работать и ничего не откладывать
            .about__item 
                .about__icon
                    img(src="img/icons/save-money.png", alt="icon")
                .about__text Вам интересны способы и возможности пассивного дохода
            .about__item 
                .about__icon
                    img(src="img/icons/loupe.png", alt="icon")
                .about__text Вы ищите актуальную информацию об инвестировании
            .about__item 
                .about__icon
                    img(src="img/icons/shield.png", alt="icon")
                .about__text Интересуетесь только законными, гарантированными и консервативными вложениями
            .about__item 
                .about__icon
                    img(src="img/icons/loss.png", alt="icon")
                .about__text Хотите избежать “развода”, участия в хайповых проектах и потери денег
            .about__item 
                .about__icon
                    img(src="img/icons/personal-wealth.png", alt="icon")
                .about__text Готовы более эффективно управлять своими сбережениями