section.usefull
    .wrap
        .title.usefull-title Семинар будет полезен, если
        .usefull__body
            .usefull__item.usefull__item--first.usefull__item--d
                .usefull__title 
                    span Хотите купить недвижимость, 
                    | но не готовы годами откладывать
                .usefull__num.usefull__num--d 01
                .usefull__num.usefull__num--m
            .usefull__items
                .usefull__item.usefull__item--green.usefull__item--d
                    .usefull__num.usefull__num--d 02
                    .usefull__num.usefull__num--m
                    .usefull__title Намерены открыть бизнес, но не хотите привлекать инвесторов и делиться долей
                .usefull__item.usefull__item--full
                    .usefull__title 
                        span Желаете обновить авто, 
                        | путешествовать, или реализовать другую свою мечту
                    .usefull__num.usefull__num--d 03
                    .usefull__num.usefull__num--m 01
                .usefull__items--m
                    .usefull__items--mleft
                        .usefull__item.usefull__item--green
                            .usefull__num.usefull__num--d 02
                            .usefull__num.usefull__num--m 02
                            .usefull__title Намерены открыть бизнес, но не хотите привлекать инвесторов и делиться долей
                        .usefull__item.usefull__item--green
                            .usefull__num.usefull__num--d 05
                            .usefull__num.usefull__num--m 03
                            .usefull__title Ищите пассивный способ заработка или обеспечить себе безбедную старость
                    .usefull__item.usefull__item--m
                        .usefull__title 
                            span Хотите купить недвижимость, 
                            | но не готовы годами откладывать
                        .usefull__num.usefull__num--d 01
                        .usefull__num.usefull__num--m 04
                .usefull__item.usefull__item--full
                    .usefull__title 
                        span Хотите переехать 
                        | в другую страну и ищете возможность стабильно зарабатывать
                    .usefull__num.usefull__num--d 04
                    .usefull__num.usefull__num--m
                .usefull__item.usefull__item--green.usefull__item--d
                    .usefull__num.usefull__num--d 05
                    .usefull__num.usefull__num--m 05
                    .usefull__title Ищите пассивный способ заработка или обеспечить себе безбедную старость
