section.call
    .wrap
        .call__body
            .call__pre Узнали себя? А может свою цель или мечту?
            .call__title Регистрируйтесь на ближайший семинар прямо сейчас!
        a(href="#consult").scroll-to.btn.btn--white Принять участие 