section.knowledge
    .wrap
        .title На семинаре вы узнаете:
        .knowledge__items
            .knowledge__item
                .knowledge__num 1
                .knowledge__text Куда вкладывать деньги с 100% гарантией возврата
            .knowledge__item
                .knowledge__num 2
                .knowledge__text Какие существуют риски и возможности
            .knowledge__item
                .knowledge__num 3
                .knowledge__text Во что нельзя вкладывать, чтобы не потерять деньги
            .knowledge__item
                .knowledge__num 4
                .knowledge__text Как зарабатывают инвесторы во всем мире
            .knowledge__item
                .knowledge__num 5
                .knowledge__text Как настроить системное получение пассивного дохода с инвестиций
            .knowledge__item
                .knowledge__num 6
                .knowledge__text Как зарабатывать от 50% годовых с помощью инвестиций
            .knowledge__item
                .knowledge__num 7
                .knowledge__text Как отличить легальную инвестиционную деятельность от хайпов и “развода”
            .knowledge__item
                .knowledge__num 8
                .knowledge__text Где получать достоверную информацию, чтобы все сделать правильно