section.person
    .wrap
        .person__body
            .title.person__title Семинар проведет
            .title.person__name Магдыч Владимир Сергеевич 
            .person__items-wrap
                .person__items
                    .person__item Профессиональный инвестор 
                    .person__item Инвестиционный управляющий компании Synergy systems
                .person__items.person__items--active
                    .person__item За 17 лет прозрачной и легальной деятельности, инвесторы доверили в управление компании $100 млн
                    .person__item Автор бесплатных лекций и семинаров, которые помогают украинцам становиться финансово и инвестиционно грамотными
        .person__about 
            p “Когда я впервые столкнулся с информацией о деньгах, инвестициях, фондовых биржах, я осознал, что это то, в чем я хочу работать и узнавать больше каждый день. 
            p С того момента я прошел тернистый путь обучения и ошибок, сталкивался с хайповыми проектами, нелегальными компаниями и другими недопропорядочными способами нажиться на других людях. И я благодарен этому опыту, потому что теперь я, наконец, нашел честные способы инвестировать и пассивно зарабатывать.. 
            p.active Каждый из нас в какой-то период своей жизни хочет быть вкладом в других людей и делать что-то, что будет приносить пользу обществу. Для меня эта деятельность — мой бесплатный семинар, благодаря которому немножко больше людей смогут изменить свое финансовое мышление и, наконец, разобраться с деньгами в своей жизни”.
