section.call.call2
    .wrap
        .call__body.call__body--center
            .call__about Хотите получить приглашение на ближайший бесплатный семинар по инвестиционной и финансовой грамотности?
            a(href="#consult").scroll-to.btn.btn--white Оставить заявку