section.qa
    .wrap
        .title Популярные <span class="row-mob"><br></span>вопросы участников семинаров
        .accordeon.qa__accordeon
            h3.accordeon-title Почему я не могу просто пойти, <span><br></span>и положить деньги в банк?
            .accordeon-content
                p Знаете, откуда банки берут эти 3,5-5% годовых, которые выплачивают вам по депозиту? Они берут вложенные вами деньги и дают их в управление инвестиционным фондам, которые осуществляют сделки на фондовых биржах. С их помощью они зарабатывают более 50%, а вам отдают только  3,5-5% из них. Они делают это только потому, что вкладчики боятся идти в инвестиционные компании напрямую. Тогда как вкладчики банков и вкладчики легальных инвестиционных компаний защищены одинаково.
            h3.accordeon-title Неужели в Украине можно реально заработать на инвестициях? 
            .accordeon-content
                p Можно, но немного. Чтобы выйти на высокий доход, следует инвестировать, во-первых, с помощью лицензированного брокера, а во-вторых, в инвестиционные компании, которые торгуют консервативно на фондовой бирже. В частности, это Нью-Йоркская фондовая биржа и акции таких компаний, как Coca Cola, McDonalds, Apple. Согласитесь, вероятность, что эти гиганты вдруг прекратят свою деятельность, равна вероятности наступления апокалипсиса.
            h3.accordeon-title Если я вложу в акции американских компаний и что-то пойдет не так, то кто меня защитит и вернет деньги?
            .accordeon-content
                p Если украинец покупает американские акции - он становится инвестором в экономическое развитие страны, а США - защищает своих инвесторов. Разумеется, если вы делаете это с помощью легальных трейдерских компаний, деятельность которой регулируется и обеспечивается страной. В свою очередь брокер гарантирует 100% возврат тела инвестиции, то есть сколько вы вложили - столько вы 100% получите назад. Если вдруг что-то случается с брокером, что тоже крайне маловероятно, деньги вкладчиков возвращаются государством. 
            h3.accordeon-title Зачем вы бесплатно даете информацию?
            .accordeon-content
                p Нельзя оставаться бедным, когда все вокруг богатеют. Потому, чтобы жить благополучно, нужно работать для достижения благополучия все страны, в частности ее граждан. Денег в мире хватит на всех, потому мы не боимся, что нам чего-то не достанется. А от того, чтобы делиться и делать добрые дела, еще никто не обеднел. 

