footer.footer
    .wrap
        .footer__body
            .title.footer__name Если вы хотите 
            .footer__items-wrap
                .footer__items
                    .footer__item Обеспечить себе пассивный доход
                    .footer__item Вырваться из беличьего колеса «зарплата – траты – зарплата»
                    .footer__item Реализовать свою мечту или достичь цели. И не одной
                    .footer__item Избежать финансового кризиса или встречи с мошенниками
        .footer__form#consult 
            .title.footer__name Оставляйте заявку <br>и получите приглашение на ближайший семинар:
            form(action="#").consultForm
                input(type="text" name="name2" placeholder="Имя" required).rfield
                input(type="text" name="phone" placeholder="Номер телефона" required).phone-mask.rfield
                
                input.utm_source.hidden(type='hidden', name='utm_source')
                input.utm_medium.hidden(type='hidden', name='utm_medium')
                input.utm_campaign.hidden(type='hidden', name='utm_campaign')
                input.utm_term.hidden(type='hidden', name='utm_term')
                input.utm_content.hidden(type='hidden', name='utm_content')
                button.consult__btn(type="submit")
                    a(href="#modalThank").btn.modal-open Хочу на семинар
    .wrap
        .footer__bottom
            a(href="#").footer__policy Политика конфиденциальности
            .footer__develop
                span Разработка сайта
                a(href="https://nox.agency/").footer__logo 
                    img(src="img/logo-nox.png", alt="logo", class="nox-d")
                    img(src="img/logo-grey.png", alt="logo", class="nox-m")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
