header.header
	.wrap
		.header__body
			.header__pre Что делать, чтобы за пару лет купить квартиру, авто или насобирать на переезд в другую страну?
			.header__title Куда и как инвестировать в 2020 году с гарантией 100% узнайте на семинаре 
			.header__subtitle “Инвестиционная и финансовая грамотность”
			a(href="#consult").btn.scroll-to Принять участие
		.header__attention 
			p ВНИМАНИЕ! <br>Мы ничего не продаем вам на семинаре, только делимся информацией!
