header.header
	.wrap
		.header__body
			.header__pre Что делать, чтобы за пару лет <span class="row-mob"><br></span> купить квартиру, авто или насобирать<span class="row-mob"><br></span> на переезд в другую страну?
			.header__title Куда и как<span class="row-mob"><br></span> инвестировать в 2020<span class="row-mob"><br></span> году с гарантией 100%<span class="row-mob"><br></span> узнайте на семинаре 
			.header__subtitle “Инвестиционная<span class="row-mob"><br></span> и финансовая <span class="row-mob"><br></span> грамотность”
			a(href="#consult").btn.scroll-to Принять участие
		.header__attention 
			p ВНИМАНИЕ! <br>Мы ничего не продаем вам на семинаре, только делимся информацией!
